<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap_integracion.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         failOnWarning="true"
         failOnRisky="false"
         executionOrder="default"
         resolveDependencies="true">

    <php>
        <ini name="xdebug.mode" value="coverage"/>
        <server name="BASE_PATH" value="."/>
    </php>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./controllers</directory>
            <directory suffix=".php">./models</directory>
            <directory suffix=".php">./core</directory>
        </include>

        <exclude>
            <directory>./views</directory>
            <directory>./public</directory>
            <directory>./vendor</directory>
            <file>./config/constants.php</file>
        </exclude>

        <report>
            <html outputDirectory="./docs/coverage"/>
            <clover outputFile="./docs/coverage/clover.xml"/>
            <xml outputDirectory="./docs/coverage-xml"/>
        </report>
    </coverage>
</phpunit>
